<div class="clearfix p-top-20"></div>
<div class="col-md-12">
    <a ng-if="appconfig.Bannershowhide=='True'" href="{{appconfig.LinkBanner}}">
        <img class="img-responsive" src="{{appconfig.Banner}}" />
    </a>
    
</div>
<div class="home-content col-md-12 p-0">
    <div class="product col-md-4 " ng-repeat="item in product">
        <a ui-sref="main.home.product({catName:item.ParentName[0],productID:item.Slug,id:item.ID})">
            <img class="img-responsive" ng-src={{item.Attrs[5].AttrValue}} />
        </a>
        <p class="title text-center">{{item.Title}}</p>
        <p class="text-center price" ng-if="item.Attrs[1].AttrValue!=null">
            <s>{{item.Attrs[0].AttrValue | number}} đ</s> - <span class="sale-text">{{item.Attrs[1].AttrValue |number}} đ</span>
        </p>
        <p class="text-center price" ng-if="item.Attrs[4].AttrValue=='Out of Stock'">{{item.Attrs[0].AttrValue |number}}  đ - <span class="outofstock-text">{{item.Attrs[4].AttrValue}}</span></p>
        <p class="text-center price" ng-if="item.Attrs[1].AttrValue==null&&item.Attrs[4].AttrValue!='Out of Stock'">{{item.Attrs[0].AttrValue |number}} đ</p>
    </div>
    <!--<div class="product col-md-4">
        <a ui-sref="main.home.product({catName:'Clother',productID:1})">
            <img class="img-responsive" src="../../../Images/product.jpg" />
        </a>
        <p class="title text-center">BUCKET HAT WHITE</p>
        <p class="text-center price">250.000 đ - <span class="outofstock-text">out of stock</span></p>
    </div>
    <div class="product col-md-4">
        <a ui-sref="main.home.product({catName:'Clother',productID:1})">
            <img class="img-responsive" src="../../../Images/product.jpg" />
        </a>
        <p class="title text-center">NOT A CHEAP T-SHIRT</p>
        <p class="text-center price">250.000 đ</p>
    </div>
    <div class="product col-md-4">
        <a ui-sref="main.home.product({catName:'Clother',productID:1})">
            <img class="img-responsive" src="../../../Images/product.jpg" />
        </a>
        <p class="title text-center">NOT A CHEAP T-SHIRT</p>
        <p class="text-center price">250.000 đ</p>
    </div>
    <div class="product col-md-4">
        <a ui-sref="main.home.product({catName:'Clother',productID:1})">
            <img class="img-responsive" src="../../../Images/product.jpg" />
        </a>
        <p class="title text-center">NOT A CHEAP T-SHIRT</p>
        <p class="text-center price">250.000 đ</p>
    </div>
    <div class="product col-md-4">
        <a ui-sref="main.home.product({catName:'Clother',productID:1})">
            <img class="img-responsive" src="../../../Images/product.jpg" />
        </a>
        <p class="title text-center">NOT A CHEAP T-SHIRT</p>
        <p class="text-center price">250.000 đ</p>
    </div>-->
</div>
