
<div ui-view="Bag" class="col-md-12" >
    <div class="your-bag">
        <div class="text-center">
            <p class="page-title">YOUR BAG</p>
        </div>
        <div class="col-md-offset-1 col-md-10">
            <table class="tb-bag table-responsive table table-hover table-xs-border">
                <thead>
                    <tr>
                        <th width="50%">
                            <strong>ITEMS</strong>
                        </th>
                        <th width="15%">
                            <strong>Option</strong>
                        </th>
                        <th><div class="col-md-6 col-md-offset-3">
                                <strong>Quantity</strong>
                                                        </div>
                            </th>
                        <th class="text-right">
                            <strong> Price </strong>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in cart.List">
                        <td class="p-left-0">
                            <div class="col-md-3 p-left-0">
                                <img class="img-responsive" ng-src="{{item.Object.Attrs[5].AttrValue}}" />
                            </div>
                            <div class="col-md-9">
                                <p>{{item.Object.Title}}</p>
                                <br />
                                <br /><a href="javascript:;" ng-click="removecart(item.ID)"><img src="../../../Images/btn-remove.jpg" /></a>

                            </div>
                        </td>
                        <td>
                            <div class="col-md-6">
                                <span>Color:</span>
                            </div>
                            <div class="col-md-6">
                                <span>{{item.Color}}</span>
                            </div>
                            <div class="col-md-6">
                                <span>Size:</span>
                            </div>
                            <div class="col-md-6">
                                <span>{{item.Size}}</span>
                            </div>
                        </td>
                        <td>
                            <div class="col-md-6 col-md-offset-3">
                                <input type="text" ng-model="item.Quantity" class="text-center">
                            </div>
                         
                        </td>
                        <td class="text-right price">
                            {{item.Price*item.Quantity |number}}đ
                        </td>
                    </tr>
                    <!--<tr>
                        <td class="p-left-0">
                            <div class="col-md-3 p-left-0">
                                <img class="img-responsive" src="../../../Images/bag-image.jpg" />
                            </div>
                            <div class="col-md-9">
                                <p>Bucket Hat Summer</p>
                                <br />
                                <br /><a href="#"><img src="../../../Images/btn-remove.jpg" /></a>

                            </div>
                        </td>
                        <td>
                            <div class="col-md-6">
                                <span>Color:</span>
                            </div>
                            <div class="col-md-6">
                                <span>Red</span>
                            </div>
                            <div class="col-md-6">
                                <span>Size:</span>
                            </div>
                            <div class="col-md-6">
                                <span>One</span>
                            </div>
                            <div class="col-md-6">
                                <span>Qty:</span>
                            </div>
                            <div class="col-md-6">
                                <span>1</span>
                            </div>
                        </td>
                        <td class="text-right price">
                            280.000 đ
                        </td>
                    </tr>-->
                </tbody>

                <!--<tfoot>
            <tr>
                <td>

                </td>
                <td>
                    <strong class="sub-total-text">SUB TOTAL COST</strong>
                    <p>* Without shipping cost</p>
                </td>
            </tr>
        </tfoot>-->
            </table>
            <div class="col-md-12 p-right-10">
                <div class="col-md-6"> </div>
                <div class="col-md-2 p-0">
                    <strong class="sub-total-text">SUB TOTAL COST</strong>
                    <p class="note-text">* Without shipping cost</p> 
                </div>
                <div class="col-md-4 text-right sale-text p-right-0">
                   {{cart.TotalAmount|number}} đ
                </div>
            </div>
            <div class="col-md-12 p-left-0 p-right-0">
                <div class="text-left col-md-3 p-left-0 col-xs-6 text-xs-center">
                    <a  href="/">
                        <img class="img-responsive" src="../../../Images/btn-continueShopping.jpg" />
                
                    </a>
                </div>
                <div class="col-md-offset-2 col-md-3 col-xs-6 text-xs-center">
                    <a href="javascript:;" ng-click="updateCart()">
                        <img class="img-responsive" src="../../../Images/btn-saveYouBag.jpg" />
                    </a>
                </div>
                <div class="clearfix"></div>
                <div class="text-right col-md-offset-9 p-top-10 p-bot-50 p-left-40 col-md-3 p-right-0 col-xs-12 text-xs-center">
                    <a href="/checkout">
                        <img class="img-responsive" src="../../../Images/button-checkOutNow.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>