
<div ui-view="Checkout" class="checkout">
    <div class="text-center">
        <p class="page-title">CHECK OUT</p>
        <p class="checkout-step">STEP BY STEP</p>
    </div>
    <div class="col-md-offset-1 col-md-10 ">
        <div class="col-md-12 p-right-0 p-left-0 p-bot-50" ng-class="{'checkout-method':!isregister}">
            <div ng-if="currentUser==null">
                <p class="checkout-title "><strong>CHECK OUT METHOD</strong></p>
                <div class="col-md-6 p-0">
                    <div class="checkout-box login p-0" ng-class="{'box-register':isregister}">
                        <p class="checkout-box-title box-title"><strong>RETURING CUSTOMER</strong></p>
                        <div class="col-md-12 box-content">
                            <form>
                                <table class="table-responsive table-xs-border">
                                    <tr>
                                        <td width="40%"><label><strong>EMAIL ADDRESS</strong></label></td>
                                        <td><input type="text" class="form-control" ng-model="userlogin.username" name="username" /></td>
                                    </tr>
                                    <tr>
                                        <td width="40%"><label><strong>PASSWORD</strong></label></td>
                                        <td><input type="password" class="form-control password" ng-model="userlogin.password" name="password" /></td>
                                    </tr>
                                    <tr>
                                        <td width="40%"></td>
                                        <td>
                                            <a href="javascript:;" ng-click="logon()">
                                                <div class="checkout-btn-logoin text-center">
                                                    <strong> LOG IN </strong>

                                                </div>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="40%"></td>
                                        <td>
                                            <a href="#" style="color:#000">
                                                <div class="fogot">
                                                    <strong>I FOGOT MY PASSWORD</strong>
                                                </div>

                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>

                    </div>

                </div>
                <div class="col-md-6  p-0">
                    <div class="checkout-box new-md-custom new-xs-custom p-0" ng-class="{'box-register':isregister}">
                        <p class="checkout-box-title  box-title"><strong>NEW CUSTOMER</strong></p>
                        <div class="col-md-12 box-content" ng-if="!isregister">
                            <p>Register for fast shopping next time</p>
                            <div class="col-md-12 p-left-0">
                                <form>
                                    <table class="table-responsive table-xs-border">
                                        <tr class="hidden-xs">
                                            <td width="50%">
                                                <a href="javascript:;" ng-click="checkasgest()">
                                                    <div class="checkout-btn-logoin text-center">
                                                        <strong> CHECK OUT AS GEST </strong>
                                                    </div>
                                                </a>
                                            </td>
                                            <td width="50%"></td>
                                        </tr>
                                        <tr class="hidden-md hidden-lg">
                                            <td>
                                                <a href="javascript:;" ng-click="checkasgest()">
                                                    <div class="checkout-btn-logoin text-center">
                                                        <strong> CHECK OUT AS GEST </strong>

                                                    </div>
                                                </a>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td width="50%">
                                                <a href="javascript:;" ng-click="register()">
                                                    <div class="checkout-btn-logoin text-center">
                                                        <strong> REGISTER NOW </strong>

                                                    </div>
                                                </a>
                                            </td>
                                            <td></td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12 box-content" ng-show="isregister">
                            <p>Please enter your info to join Cat On A Hat</p>
                            <div class="col-md-12 p-left-0">
                                <table class="table-responsive table-xs-border">
                                    <tr>
                                        <td width="30%"><label><strong>NAME *</strong></label></td>
                                        <td><input type="text" class="form-control" ng-model="userRegister.FullName" name="name" /></td>
                                    </tr>
                                    <tr>
                                        <td width="30%"></td>
                                        <td class="p-top-10">
                                            <strong>MALE</strong>
                                            <input type="radio" ng-model="userRegister.Gender" value="Nam" name="gender" />
                                            <strong>FEMALE</strong>
                                            <input type="radio" ng-model="userRegister.Gender" value="Nu" name="gender" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="30%"><label><strong>EMAIL*</strong></label></td>
                                        <td><input type="text" class="form-control" ng-model="userRegister.Email" name="Email" /></td>
                                    </tr>
                                    <tr>
                                        <td width="30%"><label><strong>PASSWORD*</strong></label></td>
                                        <td><input type="password" class="form-control password" ng-model="userRegister.Password" name="Password" /></td>
                                    </tr>
                                    <tr>
                                        <td width="30%"><label><strong>PHONE NO.*</strong></label></td>
                                        <td><input type="text" class="form-control" ng-model="userRegister.Phone" name="Phone" /></td>
                                    </tr>
                                    <tr>
                                        <td width="30%"><label><strong>ADDRESS*</strong></label></td>
                                        <td><input type="text" class="form-control" ng-model="userRegister.Address" name="Address" /></td>
                                    </tr>
                                    <tr>
                                        <td width="30%"><label><strong>CITY*</strong></label></td>
                                        <td>
                                            <select ng-model="selectedProvince" ng-options="item as item.Province for item in provincelist" ng-change="loaddistrict(selectedProvince)">
                                                <option value="">Province/ City</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="30%"><label><strong>DISTRICT*</strong></label></td>
                                        <td>
                                            <select ng-model="userRegister.District" ng-options="item for item in districtlist track by item">
                                                <option value="">District</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td class="text-right p-top-20">
                                            <a href="javascript:;" class="btn btn-info" ng-click="registeraccount()">CREATE ACCOUNT</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div ng-show="!isregister" class="info-box">
                <p class="checkout-title " ng-show="isgest"><strong>SHIPPING INFORMATION</strong></p>
                <div class="col-md-offset-3 col-md-6 checkout-ship-info" ng-show="isgest">
                    <form name="frmfunc" accept-charset="UTF-8" role="form">
                        <table class="table-responsive table-xs-border">
                            <tr>
                                <td width="25%">
                                    <label>  <strong>NAME *</strong></label>
                                </td>
                                <td width="75%">
                                    <div class="form-group has-feedback" ng-class="{ 'has-success' : frmfunc.FullName.$valid,'has-error': frmfunc.FullName.$invalid&&frmfunc.FullName.$dirty}">
                                        <input type="text" ng-model="user.FullName" class="form-control" name="FullName" required />
                                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-class="{'hide':frmfunc.FullName.$invalid}"></span>
                                        <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="frmfunc.FullName.$invalid && frmfunc.FullName.$dirty"></span>
                                        <span class="text-danger" ng-show="frmfunc.FullName.$invalid">
                                            <span ng-show="frmfunc.FullName.$touched && frmfunc.FullName.$error.required"><span>Please input your name</span></span>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td width="25%">
                                    <label>  <strong>EMAIL *</strong></label>
                                </td>
                                <td width="75%">
                                    <div class="form-group has-feedback" ng-class="{ 'has-success' : frmfunc.Email.$valid,'has-error': frmfunc.Email.$invalid&&frmfunc.Email.$dirty}">
                                        <input type="email" validate-email ng-model="user.Email" class="form-control" name="Email" required />
                                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-class="{'hide':frmfunc.Email.$invalid}"></span>
                                        <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="frmfunc.Email.$invalid && frmfunc.Email.$dirty"></span>
                                        <span class="text-danger" ng-show="frmfunc.Email.$invalid">
                                            <span ng-show="frmfunc.Email.$touched && frmfunc.Email.$error.required"><span>Please input your email</span></span>
                                        </span>
                                        <span class="help-block" ng-show="frmfunc.Email.$error.email">Please input the valid email.</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td width="25%">
                                    <label>  <strong>PHONE *</strong></label>
                                </td>
                                <td width="75%">
                                    
                                    <div class="form-group has-feedback" ng-class="{ 'has-success' : frmfunc.Phone.$valid,'has-error': frmfunc.Phone.$invalid&&frmfunc.Phone.$dirty}">
                                        <input type="text" ng-model="user.Phone" class="form-control" name="Phone" required />
                                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-class="{'hide':frmfunc.Phone.$invalid}"></span>
                                        <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="frmfunc.Phone.$invalid && frmfunc.Phone.$dirty"></span>
                                        <span class="text-danger" ng-show="frmfunc.Phone.$invalid">
                                            <span ng-show="frmfunc.Phone.$touched && frmfunc.Phone.$error.required"><span>Please input your phone</span></span>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td width="25%">
                                    <label>  <strong>ADDRESS *</strong></label>
                                </td>
                                <td width="75%">
                                    

                                    <div class="form-group has-feedback" ng-class="{ 'has-success' : frmfunc.Address.$valid,'has-error': frmfunc.Address.$invalid&&frmfunc.Address.$dirty}">
                                        <input type="text" ng-model="user.Address" class="form-control" name="Address" required />
                                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-class="{'hide':frmfunc.Address.$invalid}"></span>
                                        <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="frmfunc.Address.$invalid && frmfunc.Address.$dirty"></span>
                                        <span class="text-danger" ng-show="frmfunc.Address.$invalid">
                                            <span ng-show="frmfunc.Address.$touched && frmfunc.Address.$error.required"><span>Please input your address</span></span>
                                        </span>
                                    </div>
                                </td>
                                
                            </tr>
                            <tr>
                                <td width="25%">
                                    <label>  <strong>CITY *</strong></label>
                                </td>
                                <td width="75%">
                                    <div class="form-group has-feedback" ng-class="{ 'has-success' : frmfunc.city.$valid,'has-error': frmfunc.city.$invalid&&frmfunc.city.$dirty}">
                                        <select class="form-control" name="city" ng-model="_selectedProvince" ng-options="item as item.Province for item in provincelist" ng-change="loaddistrict(_selectedProvince)" required>
                                            <option value="">Province/ City</option>
                                        </select>
                                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-class="{'hide':frmfunc.city.$invalid}"></span>
                                        <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="frmfunc.city.$invalid && frmfunc.city.$dirty"></span>
                                        <span class="text-danger" ng-show="frmfunc.city.$invalid">
                                            <span ng-show="frmfunc.city.$touched && frmfunc.city.$error.required"><span>Please input your Province</span></span>
                                        </span>
                                    </div>
                                 
                                </td>
                            </tr>
                            <tr>
                                <td width="25%">
                                    <label>  <strong>DISTRICT *</strong></label>
                                </td>
                                <td width="75%">
                                   
                                    <div class="form-group has-feedback" ng-class="{ 'has-success' : frmfunc.District.$valid,'has-error': frmfunc.District.$invalid&&frmfunc.District.$dirty}">
                                        <select name="District" ng-model="user.District" class="form-control" ng-options="item for item in districtlist track by item" required>
                                            <option value="">District</option>
                                        </select>
                                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-class="{'hide':frmfunc.District.$invalid}"></span>
                                        <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="frmfunc.District.$invalid && frmfunc.District.$dirty"></span>
                                        <span class="text-danger" ng-show="frmfunc.District.$invalid">
                                            <span ng-show="frmfunc.District.$touched && frmfunc.District.$error.required"><span>Please input your District</span></span>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>

                <div class="clearfix"></div>
                <p class="checkout-title "><strong>SHIPPING INFORMATION</strong></p>
                <div class="col-md-offset-3 col-md-6 checkout-ship-info">
                    <p><strong style="letter-spacing:1px;">Select shipping method</strong></p>
                    <input type="radio" ng-model="shippingTransfer" name="shipping" value="Bank Transfer" /> Bank Transfer <br />
                    <input type="radio" ng-model="shippingTransfer" name="shipping" value="COD" /> COD
                </div>
            </div>
        </div>
        <div class="col-md-12 checkout-foot p-left-0" ng-if="!isregister">
            <div class="col-md-6 p-left-0">
                <strong>Forgot an item?</strong>
                <a href="/bag">
                    <img src="../../../Images/button-editYourShoppingBag.png" />
                </a>
            </div>
            <div class="col-md-6 text-right p-right-0">
                <!--{{frmfunc.$valid}}
                ui-sref="main.home.review({shipping:shippingTransfer})"-->
                <a ng-if="currentUser != null||frmfunc.$valid" ng-click="checkout()" >
                    <img src="../../../Images/button-reviewOrder.png" />
                </a>
            </div>
        </div>
    </div>
</div>