
<div ui-view="About" class="col-md-12">
    <div class="about ">
        <div class="text-center">
            <p class="page-title">ABOUT US</p>
        </div>
        <div class="col-md-12" ng-bind-html="data">

        </div>
        <div class=" col-md-12 text-center">
            <p class="page-title about-title">CONTACT US</p>
            <p>FOLLOW US AT</p>
            <div class="col-md-offset-5 col-md-2">
                <p class="contact-follow text-center">
                    <a ng-href="#" class="t-nav it-nav"></a>
                    <a ng-href="#" class="t-nav fb-nav"></a>
                </p>
            </div>
            <div class="col-md-5"></div>
            <div class="clearfix"></div>
            <p>HOTLINE</p>
            <div class="center-block" style="width:130px;">
                <p class="phone-number">098 164 1828</p>
            </div>
           
        </div>
    </div>
</div>