<div class="clearfix"></div>
<ul class="ds-btn hidden-xs">

    <li>
        <a class="btn btn-lg btn-default" href="javascript:;">
            <i class="glyphicon glyphicon-user pull-left"></i><span>
                Tài khoản<br>
                <small>32 đăng ký mới</small>
            </span>
        </a>

    </li>
    <li>
        <a class="btn btn-lg btn-default " href="/admin/manageorder">
            <i class="glyphicon glyphicon-dashboard pull-left"></i><span>
                Đơn hàng<br>
                <small>3 đơn hàng mới</small>
            </span>
        </a>

    </li>
    <li>
        <a class="btn btn-lg btn-default" href="javascript:;">
            <i class="glyphicon glyphicon-tasks pull-left"></i><span>
                Hỏi đáp<br>
                <small>5 câu hỏi mới</small>
            </span>
        </a>

    </li>
    <li>
        <a class="btn btn-lg btn-default" href="javascript:;">
            <i class="glyphicon glyphicon-tasks pull-left"></i><span>
                Nội dung<br>
                <small>5 nội dung mới đăng</small>
            </span>
        </a>

    </li>

</ul>
<div class="clearfix"></div>
<div ui-view="adMain" style="margin-top:10px"></div>
