<div class="clearfix"></div>
<div class="userinfo">

    <div ng-if="Username!='' && Username!=null" style="text-align: right">
        <div style="text-align: left;">
            {{user}}
            <br />Hi <b>{{Username}}</b> ,&nbsp;<!--<a href="javascript:;"><i class="fa fa-user"></i>&nbsp;tài khoản</a>-->
        </div>

        <hr class="me clearfix" />
        <!--<a href="javascript:;"><i class="fa fa-key"></i>&nbsp;Đổi mật khẩu</a>&nbsp;|&nbsp;--><a ng-click="logout()" href="javascript:;" class="red">Logout&nbsp;<i class="fa fa-sign-out"></i></a>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
<hr />
<div class="clearfix"></div>
<div ng-if="msg!=null && msg==''" class="well">
    {{msg}}
</div>
<div class="clearfix"></div>
<accordion close-others="oneAtATime">
    <accordion-group heading="Đơn hàng" is-open="true" ng-if="msg==null || msg==''">
        <ul class="list-group">
            <li class="list-group-item">
                <a ui-sref="main.admin.manageorder"><i class="fa fa-history"></i>&nbsp;Quản lý [Đơn hàng]</a>
            </li>
        </ul>
    </accordion-group>
    <!--<accordion-group heading="Mailing" is-open="true">
        <ul class="list-group">
            <li class="list-group-item">
                <a ui-sref="main.admin.sendmail"><i class="fa fa-plane"></i>&nbsp;Send Mail</a>
            </li>
            <li class="list-group-item">
                <a ui-sref="main.admin.manageobject({objectname:'mail'})"><i class="fa fa-history"></i>&nbsp;History</a>
            </li>
        </ul>
    </accordion-group>-->
    <accordion-group ng-repeat="s in subjects" heading="{{s.Title}}" is-open="s.isExpandMenu">
        <ul class="list-group">
            <li ng-if="s.hasAdd" class="list-group-item">
                <a ui-sref="main.admin.addobject({objectname:s.Name})"><i class="fa fa-plus"></i>&nbsp;Thêm [{{s.Title}}]</a>
            </li>
            <li ng-if="!s.justOne && !s.hasChild" class="list-group-item">
                <a ui-sref="main.admin.manageobject({objectname:s.Name})"><i class="fa fa-cubes"></i>&nbsp;Quản lý [{{s.Title}}]</a>
            </li>
            <li ng-if="s.hasChild" class="list-group-item">
                <a ui-sref="main.admin.manageobject({objectname:s.Name})"><i class="fa fa-cube"></i>&nbsp;Danh mục [{{s.Title}}]</a>
            </li>

            <li ng-if="s.hasChild" class="list-group-item">
                <a ui-sref="main.admin.managechildobject({objectname:s.Name})"><i class="fa fa-cube"></i>&nbsp;Quản lý [{{s.Title}}]</a>
            </li>

            <li ng-if="s.justOne" class="list-group-item">
                <a ui-sref="main.admin.manageobjectone({objectname:s.Name})"><i class="fa fa-edit"></i>&nbsp;Chỉnh sửa</a>
            </li>
        </ul>
    </accordion-group>
    <accordion-group heading="Khách hàng">
        <ul class="list-group">
            <li class="list-group-item">
                <a ui-sref="main.admin.manageruser"><i class="fa fa-cubes"></i>&nbsp;Quản lí [Khách hàng]</a>
            </li>
        </ul>
    </accordion-group>

</accordion>
