<nav style="background-color:{{appconfig.menubarcolor}}" class="navbar navbar-default navbar-xs" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-right collapsed" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Menu</span>
                <i class="fa fa-bars fa-lg"></i>
            </button>
            <a class="navbar-brand" ui-sref="main.home.index">
                <img ng-src="{{appconfig.logo}}" style="margin-top:20px;margin-left:10px;" class="img-responsive" />
            </a>
        </div>
        <div class="collapse navbar-collapse pull-right" ng-class="{'in':!navCollapsed}">
            <ul class="nav">
                <li ng-repeat="m in menu" class="pull-left menuli">
                    <a class="menuanchor" style="color:{{appconfig.menulinkcolor}}" ng-if="m.Attrs[0].AttrValue!='' && m.Attrs[0].AttrValue!=null" href="{{m.Attrs[0].AttrValue}}">
                        <img class="menuimg" ng-if="m.Attrs[1].AttrValue!='' && m.Attrs[1].AttrValue!=null" ng-src="{{m.Attrs[1].AttrValue}}" style="max-width:50px;max-height:20px" /><span class="menutxt">{{m.Title}}</span>
                    </a>
                    <a class="menuanchor" style="color:{{appconfig.menulinkcolor}}" ng-if="m.Attrs[0].AttrValue=='' || m.Attrs[0].AttrValue==null" href="javascript:;">
                        <img class="menuimg" ng-if="m.Attrs[1].AttrValue!='' && m.Attrs[1].AttrValue!=null" ng-src="{{m.Attrs[1].AttrValue}}" style="max-width:50px;max-height:20px" /><span class="menutxt">{{m.Title}}</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>
