<ol class="breadcrumb">
    <li><a ui-sref="main.admin.home" class="active">Trang chủ</a></li>
    <li><span>{{object.Title}}</span></li>
</ol>
<div class="clearfix"></div>
<div class="panel">
    <h3>{{object.Title}} <small>Chỉnh sửa</small></h3>
</div>
<div class="col-md-12">
    <form name="frmobject" accept-charset="UTF-8" role="form">
        <fieldset>

            <div class="form-group alert alert-{{result.type}}" ng-show="result.text!=''">
                {{result.text}}
            </div>
            <button type="submit" ng-class="{'m-progress':running}" ng-disabled="frmobject.$invalid||running" class="pull-right btn btn-success" ng-click="ok()"><span>Lưu</span></button>
            <div class="clearfix">
            </div>
            <div ng-repeat="attr in object.Attrs" class="form-group has-feedback" ng-class="{ 'has-success' : frmobject.{{attr.AttrName}}.$valid && frmobject.{{attr.AttrName}}.$touched,'has-error': frmobject.{{attr.AttrName}}.$invalid&&frmobject.{{attr.AttrName}}.$dirty}">

                <label>{{attr.AttrTitle}} <span ng-if="attr.AttrRequired" class="requiresign">*</span>&nbsp;&nbsp;<span style="font-size: 10px"><i class="fa fa-question-circle"></i></span> </label>
                <!--phần chung-->
                <div class="input-group">
                    <div ng-if="attr.AttrType==1 || attr.AttrType==3" class="input-group-addon">{{RgetAttrTypeName(attr.AttrType)}}</div>
                    <div ng-if="attr.AttrType==12" class="input-group-addon" style="border: 2px solid #000; background-color: {{attr.AttrValue}}"></div>
                    <input ng-if="attr.AttrType==12" colorpicker="hex" name="{{attr.AttrName}}" ng-disabled="running" ng-required="attr.AttrRequired" ng-model="attr.AttrValue" type="text" class="form-control" placeholder="Enter {{attr.AttrTitle}}">
                    <input ng-if="attr.AttrType==1" name="{{attr.AttrName}}" ng-disabled="running" ng-required="attr.AttrRequired" ng-model="attr.AttrValue" type="text" class="form-control" placeholder="Enter {{attr.AttrTitle}}">
                    <input ng-if="attr.AttrType==3" name="{{attr.AttrName}}" ng-disabled="running" ng-required="attr.AttrRequired" ng-model="attr.AttrValue" type="text" class="form-control" placeholder="Enter {{attr.AttrTitle}}">

                    <input ng-if="attr.AttrType==18" name="{{attr.AttrName}}" ng-disabled="running" ng-required="attr.AttrRequired" ng-model="attr.AttrValue" type="password" class="form-control" placeholder="Enter {{attr.AttrTitle}}">
                    <input ng-if="attr.AttrType==13" name="{{attr.AttrName}}" ng-disabled="running" ng-required="attr.AttrRequired" ng-model="attr.AttrValue" type="text" class="form-control" placeholder="Enter {{attr.AttrTitle}}">
                    <div ng-if="attr.AttrType==13" class="input-group-addon" ng-click="findLink(attr)">
                        <i class="fa fa-list-ul"></i>
                    </div>
                </div>  
                <div ng-if="attr.AttrType==9" class="col-md-12">

                    <div class="col-md-1" ng-repeat="item in attr.AttrValueArray" style="display:table;">
                        <img ng-src="{{item}}" style="width:100px;" /><a style="position:absolute;top:-4px;cursor:pointer;text-decoration:none;right:18px;" ng-click="removeImage(item,attr)">x</a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12" style="margin-top:10px;">
                        <div class="input-group">
                            <input id="ckfinder{{attr.AttrName}}" name="{{attr.AttrName}}" ng-disabled="running" ng-required="attr.AttrRequired" ng-model="attr.AttrValue" type="hidden" class="form-control" placeholder="Enter {{attr.AttrTitle}}">
                            <div class="input-group-addon" style="width:100px;float:left; border-left:1px solid #ccc;border-bottom-left-radius:4px;border-top-left-radius:4px;"><a href="javascript:;" ng-click="uploadfileObject(attr)">Upload <i class="fa fa-cloud-upload"></i></a></div>
                        </div>
                    </div>

                </div>
                <div ng-if="attr.AttrType==11">
                    <div class="col-md-4">
                        <img ng-src="{{attr.AttrValue}}" class="img-responsive" />
                    </div>
                    <div class="col-md-8">
                        <div class="input-group">
                            <input id="ckfinder{{attr.AttrName}}" name="{{attr.AttrName}}" ng-disabled="running" ng-required="attr.AttrRequired" ng-model="attr.AttrValue" type="text" class="form-control" placeholder="Enter {{attr.AttrTitle}}">
                            <div class="input-group-addon"><a href="javascript:;" ng-click="uploadfile(attr)"><i class="fa fa-cloud-upload"></i></a></div>
                        </div>
                    </div>

                </div>
                <div ng-if="attr.AttrType==15">
                    <textarea ckeditor="editorOptions" ng-model="attr.AttrValue" id="editor{{attr.AttrName}}" name="{{attr.AttrName}}" ng-disabled="running" ng-required="attr.AttrRequired"></textarea>
                    <div class="clearfix"></div>
                </div>
                <div ng-if="attr.AttrType==16">
                    <textarea ng-model="attr.AttrValue" class="form-control" name="{{attr.AttrName}}" ng-disabled="running" ng-required="attr.AttrRequired" rows=""></textarea>
                    <div class="clearfix"></div>
                </div>
                <div ng-if="attr.AttrType==17">
                    <textarea ng-model="attr.AttrValue" class="form-control" name="{{attr.AttrName}}" ng-disabled="running" ng-required="attr.AttrRequired" rows=""></textarea>
                    <div class="clearfix"></div>
                </div>
                <div ng-if="attr.AttrType==4">
                    <input type="checkbox" ng-model="attr.AttrValue" name="{{attr.AttrName}}" ng-disabled="running" ng-required="attr.AttrRequired" />
                    <div class="clearfix"></div>
                </div>
                <div ng-if="attr.AttrType==6">
                    <input type="number" class="form-control" ng-model="attr.AttrValue" name="{{attr.AttrName}}" ng-disabled="running" ng-required="attr.AttrRequired" />
                    <div class="clearfix"></div>
                </div>
                <!--end# phần chung-->

                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="frmobject.{{attr.AttrName}}.$valid && frmobject.{{attr.AttrName}}.$touched"></span>
                <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="frmobject.{{attr.AttrName}}.$invalid && frmobject.{{attr.AttrName}}.$dirty"></span>
                <span class="text-danger" ng-show="frmobject.{{attr.AttrName}}.$invalid">
                    <span ng-show="frmobject.{{attr.AttrName}}.$touched && frmobject.{{attr.AttrName}}.$error.required"><span>Bạn chưa nhập {{attr.AttrTitle}}</span></span>
                </span>

                <div class="clearfix"></div>

            </div>
            <div class="clearfix">
            </div>
           
            <button type="submit" ng-class="{'m-progress':running}" ng-disabled="frmobject.$invalid||running" class="pull-right btn btn-success" ng-click="ok()"><span>Lưu</span></button>
            <div class="clearfix">
            </div>
            <div class="form-group alert alert-{{result.type}}" ng-show="result.text!=''">
                {{result.text}}
            </div>
            <div class="clearfix"></div>
        </fieldset>
    </form>
</div>

<script type="text/ng-template" id="getListLink.html">
    <div class="modal-header">
        <h3 class="modal-title">Tạo link, liên kết</h3>
    </div>
    <div class="modal-body" style="height:500px;overflow:auto;">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="o in list">
                <span style="color:red;font-size:16px;font-weight:bold">{{o.gObjectDisplayName}}</span>&nbsp;&nbsp;<a class="btn btn-primary" style="margin-bottom:10px;" ng-click="choose({objectgroup:o.gObjectName})">Chọn</a>
                <div class="clearfix"></div>
                <ul class="list-group">
                    <li class="list-group-item" style="background:#f7f7f7" ng-repeat="c in o.Categorys">
                        <span style="color:green">{{c.Title}}</span>&nbsp;&nbsp;<a class="btn btn-info" style="margin-bottom:10px;" ng-click="choose({objectid:c.ID,objectslug:c.Slug})">Chọn</a>
                        <div class="clearfix"></div>
                        <ul class="list-group" style="height:200px;overflow:auto;">
                            <li class="list-group-item iselectme" ng-repeat="i in c.Childrens">
                                {{i.Title}}
                                &nbsp;&nbsp;<a class="btn btn-success pull-right" style="margin-bottom:10px;" ng-click="choose({objectid:i.ID,objectslug:i.Slug})">Chọn</a>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </li>
        </ul>
    </div>
    <div class="modal-footer">

        <button class="btn btn-default" ng-click="cancel()">Close</button>
    </div>
</script>
