
<div ui-view="Product" class="product-detail">
    <div class="col-md-12 p-left-0">
        <ul class="breadcrumb">
            <li><a href="/">HOME</a></li>
            <li><a href="/">{{CatName}}</a></li>
            <li class="active"><a href="javascript:;">{{obj.Title}}</a></li>
        </ul>
    </div>
    <div class="col-md-8 slider">
        <carousel interval="slideInterval">
            <slide ng-repeat="m in obj.Attrs[3].AttrValueArray">
                <a href="javascript:;">
                    <img class="product-md-img product-sm-img" ng-src="{{m}}" />
                </a>
            </slide>
            <!--<slide>
                <a  href="#">
                    <img class="img-responsive" src="../../../Images/ProductImage/banner.jpg" />
                </a>
            </slide>
            <slide>
                <a href="#">
                    <img class="img-responsive" src="../../../Images/ProductImage/banner.jpg" />
                </a>
            </slide>-->
        </carousel>
    </div>
    <div class="col-md-4 info">
        <div class="product-title">
            <h1><strong>{{obj.Title}}</strong></h1>
            <p class="product-price">
                <strong ng-if="obj.Attrs[1].AttrValue!=null">{{obj.Attrs[1].AttrValue |number}} đ</strong>
                <strong ng-if="obj.Attrs[1].AttrValue==null">{{obj.Attrs[0].AttrValue |number}} đ</strong>
            </p>
        </div>
        <div class="product-des" ng-bind-html="obj.gDescription">

        </div>
        <div class="product-info">
            <div class="col-md-4 col-xs-4 p-left-0 color">
                <select id="product_select_color" ng-model="obj.Color" class="product_select_color" ng-options="item for item in selectcolor track by item" ng-change="loadsize(obj.Color)">
                    <option value="">COLOR</option>
                </select>
            </div>
            <div class="col-md-4 col-xs-4 size">
                <select id="product_select_size" ng-model="obj.Size" class="product_select_size" ng-options="item for item in selectsize track by item">
                    <option value="">SIZE</option>

                </select>
            </div>
            <div class="col-md-4 col-xs-4 p-right-0 qantity">
                <select id="product_select_qty" ng-model="obj.Quantity" class="product_select_qty">
                    <option value="">QTY</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
            <div  class="add-to-cart col-md-12 p-0">
                <a href="javascript:;" alt="Add to cart" ng-if="obj.Attrs[4].AttrValue!='Out of Stock'" ng-click="addtoCart(obj)">
                    <img class="img-responsive" src="../../../Images/button-addToBag.png" />
                </a>
                <p ng-if="obj.Attrs[4].AttrValue=='Out of Stock'">
                    The Product is Out of Stock
                </p>
            </div>
            <div class="share-fb col-md-12 p-left-0">
              
                <a href="#" alt="share fb" class="but-share-fb">
                    SHARE 
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-12 another-product">
        <div class="text-center"><p class="another-product-title"> YOU MIGHT ALSO LIKE </p></div>
        <div class="product col-md-4" ng-repeat="item in obj.Relatives">
            <a ui-sref="main.home.product({catName:CatName,productID:item.Slug,id:item.ID})">
                <img class="img-responsive" src="../../../Images/product.jpg" />
            </a>
            <p class="title text-center">{{item.Title}}</p>
            <p class="text-center" ng-if="item.Attrs[1].AttrValue!=null">
                <strong><s>{{item.Attrs[0].AttrValue | number}} đ</s> - <span class="sale-text">{{item.Attrs[1].AttrValue |number}} đ</span></strong>
            </p>
            <p class="text-center" ng-if="item.Attrs[4].AttrValue=='Out of Stock'"><strong>{{item.Attrs[0].AttrValue |number}}  đ - <span class="outofstock-text">{{item.Attrs[4].AttrValue}}</span></strong></p>
            <p class="text-center" ng-if="item.Attrs[1].AttrValue==null&&item.Attrs[4].AttrValue!='Out of Stock'"><strong>{{item.Attrs[0].AttrValue |number}} đ</strong></p>
        </div>
    </div>
</div>
<!--<div flash-alert active-class="in" class="alert fade" duration="100000000000">
    <strong class="alert-heading">Boo!</strong>
    <span class="alert-message">{{flash.message}}</span>
</div>-->